{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}">
        {% endblock head %}
    </head>
<body>
{% block content %}
  <h3>Mytunes {% if playlists %}<small class="text-muted">({{ playlists|length }} Mytunes{{ playlists|length|pluralize:"s" }})</small>{% endif %}</h3>
  <hr>
  {% if playlists %}
    <div class="card-columns">
      {% for playlist in playlists %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">No playlists to display.</div>
  {% endif %}
{% endblock %}
</body>