{% extends 'base.html' %}
{% load static %}
<html>
 <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}">
        {% endblock head %}
    </head>
<body>
{% block content %}
  {% if user.is_authenticated %}
    <center><h3><img src="{% static 'playlist/logo.png' %}" width=100px height=75px></i> myTunes {% if playlists %}<small class="text-muted">({{ playlists|length }} Playlist(s))</small>{% endif %}</h3></center>
    <hr>
    {% if playlists %}
      <div class="card-columns">
        {% for playlist in playlists %}
          {% include "partials/card.html" %}
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-primary" role="alert">No playlists to display.</div>
    {% endif %}
  {% else %}
    {% include "home.html" %}
  {% endif %}
{% endblock %}
</body>