{% extends 'base.html' %}
    
{% block content %}
<div class="card mb-3">
  <div class="card-body border-dark">
    <div class="card-body border-dark">
      <h3>{{ playlist.playlist_name }} <small class="text-muted">Last updated {{ playlist.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ playlist.author.username }}</b></small></h3>
      <hr>
      <h5>Created by: {{ playlist.author|linebreaksbr }}</h5>
      <h5>{{ playlist.description|linebreaksbr }}</h5>
      <h3 class="card-header">
        <div class="card mb-3">
           <div class="card-body border-dark">
            <!-- {% if user.is_authenticated %} -->
              {% for video in playlist.video_set.all %}
                <iframe width="420" height="315"
                  src="{{ video.video }}">
                </iframe>
              {% endfor %}
          <hr>
          <form action='' method='POST'> 
            {% csrf_token %}
            <h5>{{ video_form.as_p|linebreaksbr }}</h5>
            <h5>For links to youtube videos, include the link in the form of <i>https://www.youtube.com/embed/</i></h5>
            <h5><input type="submit"></h5>
            <!-- {% else %}
            <h5><i>You must sign up or log in to add a video to the playlist.</i></h5>
            {% endif %} -->
          </form>
          &nbsp;
          <div class="rows">
            <a href="{% url 'playlist-list-page' %}"><h6>Back to List</h6></a>
            {% if user.is_authenticated %}
              <!-- {% if playlist.author %} -->
                <a href="{% url 'playlist-update-page' playlist.slug %}"class="btn btn-warning"><h6>Edit Playlist</h6></a>
                <a href="{% url 'playlist-delete' playlist.slug %}" class="btn btn-danger">Delete Playlist</a>
              <!-- {% endif %} -->
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}