{% extends 'base.html' %}
<!--CSS code (Need to work on later)-->
{% load static %}
<html>
 <head>
   {% block head %}
      <link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}">
    {% endblock head %}
  </head>

<body>
    {% block content %}
    <div class="card mb-3">
        <h5 class="card-header">
        <div class="card-body border-dark">
            <div class="card-body border-dark">
            <h1>Update?</h1>
            <div class="card-body border-dark">
            <div class="card-body border-dark">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>
            </div>
        </div>
    </div>
    {% endblock %}
    </body>