<div class="card mb-3">
    <h5 class="card-header ">{{ playlist.title }}</h5>
    <div class="card-body border-dark">
      <p class="card-text text-dark">
        {{ playlist.description|truncatewords_html:30 }}
        <hr>
        <div class="text-right"><a href="{% url 'playlist-details-page' playlist.slug %}" title="Read More">Read More</a></div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated {{ playlist.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ playlist.author.username }}</b></small>
    </div>
  </div>