<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e7c15fdb77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>myTunes</title>
  </head>
  {% block head %}
  {% endblock head %}
  {% load static %}

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'playlist-list-page' %}"><i class=""><img src="{% static 'playlist/logo.png' %}" width=65px height=45px></i> myTunes</a>
      <form class="form-inline ml-auto">
        {% if user.is_authenticated %}
        <div class="text-white">Hello, <strong>{{user.username}}</strong>!</div>
        <!-- <a href="about/" class="btn btn-info ml-4">About</a> -->
        <a href="new_playlist/" class="btn btn-success ml-2">New Playlist</a>
        <a href="/accounts/logout" class="btn btn-danger ml-2">Log Out</a>
        {% else %}
        <!-- <a href="about/" class="btn btn-info ml-4">About</a> -->
        <a href="/accounts/login" class="btn btn-secondary ml-2">Log In</a>
        <a href="/accounts/signup" class="btn btn-primary ml-2">Sign Up</a>
        {% endif %}
      </form>
    </nav>
    <main role="main" class="container" style="margin-top: 4vh;">
    <div class="push"></div>
      {% block content %}
        <div class="row">
          <div class="col m-4">
            <div class="alert alert-warning" role="alert">
              If you see this, you forgot <code>{% verbatim %}{% block content %}{% endblock %}{% endverbatim %}</code> in your child template.
            </div>
          </div>
        </div>
      {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <div id="CLogos">
      <div class="Logo Foreground"></div>
      <div class="Logo Background"></div>
      <div class="Logo Foreground"></div>
      <div class="Logo Background"></div>
      <div class="Logo Foreground"></div>
      <div class="Logo Background"></div>
      <div class="Logo Background"></div>
      <div class="Logo Foreground"></div>
      <div class="Logo Background"></div>
      <div class="Logo Background"></div>
    <!--  <svg viewBox="0 0 40 24" class="Logo"><use xlink:href="#Logo"></use></svg>-->
    </div>
    
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="24px" viewBox="0 0 40 24" enable- xml:space="preserve">
      <defs>
        <path id="Cloud" d="M33.85,14.388c-0.176,0-0.343,0.034-0.513,0.054c0.184-0.587,0.279-1.208,0.279-1.853c0-3.463-2.809-6.271-6.272-6.271
      c-0.38,0-0.752,0.039-1.113,0.104C24.874,2.677,21.293,0,17.083,0c-5.379,0-9.739,4.361-9.739,9.738
      c0,0.418,0.035,0.826,0.084,1.229c-0.375-0.069-0.761-0.11-1.155-0.11C2.811,10.856,0,13.665,0,17.126
      c0,3.467,2.811,6.275,6.272,6.275c0.214,0,27.156,0.109,27.577,0.109c2.519,0,4.56-2.043,4.56-4.562
      C38.409,16.43,36.368,14.388,33.85,14.388z"/>
      </defs>
    </svg>
    
    <footer class="bg-dark p-5 text-white">
      <div class="container">
          <a href="/">Terms of Service</a>
          &emsp;
          <a href="/">Privacy Policy</a>
          &emsp;
          <a href="/">Help Center</a>
      </div>
        <center>&copy; myTunes Inc 2020. All Rights Reserved</center>
    </footer>
  </body>